<header>
  <nav class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <div class="nav-content">
      <a href="{{ site.baseurl }}/" class="pure-menu-heading pure-menu-link">OpenRW</a>
      <div class="menu-separator"></div>
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="{{ site.baseurl }}/news" class="pure-menu-link">News</a></li>
        <li class="pure-menu-item"><a href="https://github.com/rwengine/openrw" class="pure-menu-link">GitHub</a></li>
        <li class="pure-menu-item"><a href="https://github.com/rwengine/openrw/issues" class="pure-menu-link">Issues <span id="issues-badge">?</span></a></li>
        <li class="pure-menu-item"><a href="https://github.com/rwengine/openrw/wiki" class="pure-menu-link">Wiki</a></li>
        <li class="pure-menu-item"><a href="https://ci.appveyor.com/project/danhedron/openrw/build/artifacts" class="pure-menu-link">Artifacts</a></li>
      </ul>
    </div>
  </nav>
</header>
