/* titillium-web-regular - latin */
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/titillium-web-v4-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Titillium Web"), local("TitilliumWeb-Regular"),
       url("/assets/fonts/titillium-web-v4-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("/assets/fonts/titillium-web-v4-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
       url("/assets/fonts/titillium-web-v4-latin-regular.woff") format("woff"), /* Modern Browsers */
       url("/assets/fonts/titillium-web-v4-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
       url("/assets/fonts/titillium-web-v4-latin-regular.svg#TitilliumWeb") format("svg"); /* Legacy iOS */
}
