$default-color: #404040;
$desktop-default-font-size: 17px;
$mobile-default-font-size: 15px;
$menu-background-color: #f0f0f0;
$menu-color: #333;
$menu-separator-color: #666;
$a-color: #3265ad;
$a-dark-color: #cdf;
$button-color: #5aa4c9;
$menu-height: 51px;
